openapi: 3.2.0
info:
  title: U.S. Treasury Fiscal Data Debt API
  description: The U.S.
  version: '1.0'
  contact:
    name: U.S. Treasury Fiscal Data
    url: https://fiscaldata.treasury.gov
  license:
    name: Public Domain (U.S. Government Work)
    url: https://fiscaldata.treasury.gov/about-us/
servers:
- url: https://api.fiscaldata.treasury.gov/services/api/fiscal_service
  description: Fiscal Data production API (no authentication required)
tags:
- name: Debt
  description: National debt outstanding and interest expense on the debt.
paths:
  /v2/accounting/od/debt_to_penny:
    get:
      operationId: getDebtToPenny
      tags:
      - Debt
      summary: Debt to the Penny
      description: Total public debt outstanding reported each day - debt held by the public, intragovernmental holdings, and their total. Filter by `record_date` to build a national-debt time series.
      parameters:
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/DatasetResponse'
  /v2/accounting/od/interest_expense:
    get:
      operationId: getInterestExpense
      tags:
      - Debt
      summary: Interest Expense on the Public Debt Outstanding
      description: Monthly and fiscal-year-to-date interest the federal government pays on its outstanding debt, broken out by expense category, group, and type.
      parameters:
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/DatasetResponse'
components:
  parameters:
    Sort:
      name: sort
      in: query
      required: false
      description: 'Comma-separated fields to sort by, ascending by default; prefix a field with `-` for descending. Example: `-record_date`.'
      schema:
        type: string
    Filter:
      name: filter
      in: query
      required: false
      description: 'Filter rows using `field:operator:value`, comma-separated for multiple filters (AND). Operators are `lt`, `lte`, `gt`, `gte`, `eq`, and `in` (values in parentheses). Example: `record_date:gte:2020-01-01,security_desc:eq:Treasury Bills`.'
      schema:
        type: string
    PageNumber:
      name: page[number]
      in: query
      required: false
      description: The page of results to return (1-based).
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: page[size]
      in: query
      required: false
      description: Number of results per page. Maximum 10000.
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 100
    Format:
      name: format
      in: query
      required: false
      description: Response format. Defaults to JSON.
      schema:
        type: string
        enum:
        - json
        - csv
        - xml
        default: json
    Fields:
      name: fields
      in: query
      required: false
      description: 'Comma-separated list of fields (columns) to return. Omit to return all fields for the dataset. Example: `record_date,tot_pub_debt_out_amt`.'
      schema:
        type: string
  schemas:
    DatasetResponse:
      type: object
      description: Standard Fiscal Data envelope. `data` is an array of records whose fields vary per dataset; all values are returned as strings.
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
        meta:
          $ref: '#/components/schemas/Meta'
        links:
          $ref: '#/components/schemas/Links'
    Links:
      type: object
      description: Pagination links (query-string fragments).
      properties:
        self:
          type: string
        first:
          type: string
        prev:
          type:
          - string
          - 'null'
        next:
          type:
          - string
          - 'null'
        last:
          type: string
    Meta:
      type: object
      description: Metadata describing the returned fields and the full result set.
      properties:
        count:
          type: integer
          description: Number of records on this page.
        labels:
          type: object
          description: Human-readable label for each field.
          additionalProperties:
            type: string
        dataTypes:
          type: object
          description: Data type for each field (e.g. DATE, CURRENCY, INTEGER, STRING).
          additionalProperties:
            type: string
        dataFormats:
          type: object
          description: Display format for each field (e.g. YYYY-MM-DD, $10.20).
          additionalProperties:
            type: string
        total-count:
          type: integer
          description: Total number of records across all pages for the query.
        total-pages:
          type: integer
          description: Total number of pages for the query at the current page size.
  responses:
    DatasetResponse:
      description: A page of dataset records with metadata and pagination links. When `format=csv` or `format=xml`, the body is CSV or XML instead of JSON.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DatasetResponse'
        text/csv:
          schema:
            type: string
        application/xml:
          schema:
            type: string
